---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap" style="margin-bottom: 25px;">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div id="main" role="main" style="margin-left: 0; padding-left: 0;">
  <div class="archive" style="margin-left: 0; padding-left: 0;">
    {% for post in site.publications reversed %}
      <div class="list__item" style="margin-bottom: 40px; list-style-type: none; margin-left: 0; padding-left: 0;">
        <h2 class="archive__item-title" style="margin-bottom: 10px; margin-left: 0;">
          {% if post.link %}
            <a href="{{ post.link }}" style="text-decoration: none;">{{ post.title }}</a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" style="text-decoration: none;">{{ post.title }}</a>
          {% endif %}
        </h2>
        <div class="archive__item-excerpt" style="margin-left: 0; padding-left: 0; line-height: 1.6;">
          {{ post.excerpt | markdownify | replace: '&lt;', '<' | replace: '&gt;', '>' }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
