---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div style="margin-bottom: 25px;">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
  /* This kills the left space and fixes alignment */
  .publication-list { margin-left: 0 !important; padding-left: 0 !important; }
  .pub-item { margin-bottom: 40px; list-style: none; }
  .pub-title { margin-bottom: 5px; font-size: 1.25em; font-weight: bold; }
  .pub-excerpt { line-height: 1.5; color: #ffffff; }
</style>

<div class="publication-list">
  {% for post in site.publications reversed %}
    <div class="pub-item">
      <div class="pub-title">
        <a href="{{ post.link | default: post.url }}">{{ post.title }}</a>
      </div>
      <div class="pub-excerpt">
        {{ post.excerpt }}
      </div>
    </div>
  {% endfor %}
</div>
